body {
  margin: 0px;
  font-weight: 900;
  font-size: 26px;
}

header {
  background-color: gray;
  height: 15vh;
  margin-bottom: 10px;
}

footer {
  background-color: gray;
  height: 15vh;
  margin-top: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

.section1 {
  background-color: #b7eb34;
  width: 100%;
  height: 25rem;
}

.section2 {
  background-color: green;
  width: 100%;
  height: 12rem;
}

.section3 {
  background-color: yellow;
  width: 100%;
  height: 12rem;
}

@media (min-width: 768px) {
  body {
    font-size: 38px;
  }

  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section2 {
    width: 50%;
  }

  .section3 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 48px;
  }

  .section1 {
    width: 33%;
    order: 2;
  }

  .section2 {
    width: 33%;
    height: 25rem;
    order: -1;
  }

  .section3 {
    width: 33%;
    height: 25rem;
    order: 3;
  }
}
