body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-weight: bold;
  font-size: 32px;
}

header {
  background-color: gray;
  height: 10vh;
  width: 100%;
  margin-bottom: 1rem;
}

footer {
  background-color: gray;
  height: 10vh;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.section1 {
  background-color: red;
  width: 100%;
  height: 24vh;
}

.section2 {
  background-color: orange;
  width: 100%;
  height: 24vh;
}

.section3 {
  background-color: yellow;
  width: 100%;
  height: 24vh;
}

@media (min-width: 768px) {
  .section1 {
    width: 50%;
  }

  .section2 {
    width: 50%;
  }
  .section3 {
    width: 50%;
    position: absolute;
    right: 0;
    height: 48%;
  }
}

@media (min-width: 1200px) {
  .section1 {
    width: 80%;
  }

  .section2 {
    width: 80%;
  }
  .section3 {
    width: 20%;
    position: absolute;
    right: 0;
    height: 48%;
  }
}
